@using Microsoft.AspNetCore.Components
@using Blackjack.Core
@using BlackJack.Core
@using Blackjack.Core.Entities
<br />
<br />
<div>
    @if(_ready)
    {
        <DealerHandControl @ref="_dealerHandControl" GameController="Controller" DealerHand="_dealerHand"></DealerHandControl>
    }
  
</div>
|-------------------------------------------------------------------------------------------------------------|
<br />
<br />
<br />
<br />
<br />
|-------------------------------------------------------------------------------------------------------------|
<br />

<div>
    <div>Current Bet: @_totalBet.ToString("c0")</div>
    @if (_ready)
    {
        <PlayerHandControl @key="_playerHandId" GameController="Controller" PlayerHand="_playerHand" Bet="_totalBet"></PlayerHandControl>
    }
    <br />
    <br />
    <br />
    <br />
    <div>
        Bet Amount: <input type="text" @bind="@_betIncrement" /> <button @onclick="IncreaseBet">Bet</button>
        <br/>
        
        @if (_isBetValid)
        {
            <button @onclick="Deal">Deal</button>
        }
    </div>

    Bankroll: $<p>@_bankroll</p>
</div>
@code {

    [Parameter]
    public  GameController Controller { get; set; }

    [Parameter]
    public  Player Player { get; set; }

    private PlayerHand _playerHand;

    private DealerHand _dealerHand;

    private PlayerHandControl _playerHandControl;

    private DealerHandControl _dealerHandControl;

    private string _playerHandId;

    private bool _isBetValid = false;
    private int _betIncrement;
    private int _totalBet;

    private string _bankroll;

    private bool _ready;


    protected override Task OnInitializedAsync()
    {
        _playerHandId = Guid.NewGuid().ToString();
        Controller.OnBankrollChange += ControllerOnOnBankrollChange;
        Controller.OnGameEnd += ControllerOnOnGameEnd;
        Controller.OnShowAllCards += ControllerOnOnShowAllCards;
        Controller.MinimumBet = Defaults.MINIMUM_BET;
        Controller.ShuffleAll();
        _betIncrement = Controller.MinimumBet;
        _bankroll = "1000";
        return base.OnInitializedAsync(); 
    }

    private void ControllerOnOnShowAllCards(object sender, EventArgs e)
    {

    }

    private void ControllerOnOnGameEnd(object sender, EventArgs e)
    {
        _totalBet = 0;
        _isBetValid = false;
        StateHasChanged();
    }


    private void ControllerOnOnBankrollChange(object sender, OnBankrollChangedEventArgs e)
    {
        _bankroll = e.Player.PlayerbankRoll.ToString("c0");
        StateHasChanged();
    }


    private void IncreaseBet(MouseEventArgs obj)
    {
        _totalBet += _betIncrement;
        _isBetValid = true;
        Controller.AdjustPlayerBankroll(Player, -_betIncrement);
        StateHasChanged();
    }

    public void SplitHand()
    {
        //    PlayerHandControl newPlayerHandControl = new PlayerHandControl(_controller.ActivePlayer, _controller, this, State.NotYetPlayed);
        //    _playerHandControlList.Add(newPlayerHandControl);
        //    newPlayerHandControl.Visible = true;
        //    _playerLayoutPanel.Controls.Add(newPlayerHandControl);

        //    _controller.SeedSplitHandWithNewCard(newPlayerHandControl.PlayerHand);
        //    _controller.RemoveCardForSplitFromActivePlayerHand();
        //    _controller.IncreaseBet(newPlayerHandControl.PlayerHand, double.Parse(_bet.ToString()));

        //    newPlayerHandControl.DeactivateButtons();
        ////add another card to first hand
        //    _controller.GivePlayerNextCardInShoe(_controller.ActivePlayer.ActiveHand, true);
        ////add another card to last hand
        //    _controller.GivePlayerNextCardInShoe(newPlayerHandControl.PlayerHand, true);
    }


    private async Task Deal()
    {
        _ready = false;
        Player.IsActive = true;
        _playerHand = Controller.AddHandToPlayer(Player, State.Playing, _totalBet);
        _dealerHand = Controller.AddDealerHandToDealer();
        _ready = true;
        _playerHandId = Guid.NewGuid().ToString();
        await Controller.DealAsync();
    }
}
